.themeable {
	--visualizer-monaco-editor-background: var(--visualizer-background);
}

.component-monaco-editor {
	background-color: var(--visualizer-monaco-editor-background);
	width: 100%;
	height: 100%;
	min-width: 0;
	box-sizing: border-box;
	display: flex;
	padding: 2px;
	border: 0.5px solid gray;

	.part-editor {
		min-width: 0;
		min-height: 0;
		flex: 1;

		.current-line {
			border: none !important;
		}
		.selectionHighlight {
			background: transparent !important;
		}
	}
}

.decoration-whitespace {
	color: black !important;
	opacity: 0.4;
}

.decoration-empty {
	margin-left: -1px;
	border-left: solid rgba(255, 0, 0, 0.815) 3px;
}

.decoration {
	background-color: rgba(250, 36, 36, 0.459);
}
